/* Спецификации */
body {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    line-height: 1.4em;
}

* {
    box-sizing: border-box;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-weight: 700;
    color: #323232;
}

p {
    margin: 0;
}

section {
    padding-top: 103px;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.container_flex {
    display: flex;
    align-items: center;
}

a {
	text-decoration: none;
}
 
.btn {
    padding: 13px 36px;
    background: #009bdd;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    display: block;
    width: 200px;
    border-radius: 30px;
    transition: all 0.5s ease;
    text-align: center;
}

.btn:hover {
    background: #038fcb;
}

.section-title {
    font-size: 36px;
    font-weight: 700;
    color: #323232;
}

.paragraph {
    width: 490px;
}

.title_third {
    font-size: 19px;
}

/* Первая секция */
.header {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../img/head-photo.jpg) no-repeat center top / cover;
    text-align: left;
    color: #fff;
    padding-bottom: 70px;
}

.nav {
    border: 1px solid rgba(255, 255, 255, 0.58)
}

.logo {
    background: url(../img/logo.svg);
    width: 109px;
    height: 42px;
    display: block;
}

.menu {
    margin: 0 auto;
}

.menu__list {
    display: flex;
}

.menu__item a {
    color: #fff;
    padding: 40px 24px;
    display: block;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.menu__item a:hover {
    border-bottom: 2px solid #fff;
}

.phone-numb {
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    line-height: 1.25em;
}

.offer {
    text-align: left;
}

.offer__title {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2em;
    width: 572px;
    margin-top: 142px;
}

.offer__text {
    width: 340px;
    margin: 18px 0 21px;
}

.offer__btn {
    margin-right: auto;
}

.arrow-down {
    background: url(../img/arrow-down.svg) no-repeat; 
    width: 18px;
    height: 27px;
    display: block;
    margin-top: 168px;
    opacity: 0.7;
	transition: all 0.5s ease;
}

.arrow-down:hover {
    opacity: 1;
}

/* Услуги */

.services {
    padding-bottom: 97px;
}

.services-text {
    margin-top: 17px;
    width: 490px;
}

.services-wrapper {  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.services-item {
    display: flex;
    align-items: center;
    margin-top: 74px;
    margin-right: 45px;
    width: 45%;
}
.services-item__img {
    border-radius: 0px 10px 10px 10px;
}
.services-item__info { 
    margin-left: 30px;
}
.services-item__title {
    font-size: 19px;
    color: #000;
}

.services-item__text {
    font-size: 15px;
    margin: 15px 0 15px;
    width: 268px;
}

.services-item__span {
    color: #009bdd;
    font-size: 15px;
}

.services-btn {
    margin-top: 78px;
    margin-right: auto;
}

/* Проекты */
.projects {
    background: #F7F6F8;
    height: 943px;
}

.section-title_projects {
}
.projects-text {
    margin-top: 17px;
}

.projects-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 78px;
}

.projects-wrapper__image-one {
    background: url(../img/project-1.png);
    width: 345px;
    height: 265px;
    border-radius: 15px;
    transition: all 0.5s ease;
}

.projects-wrapper__search {
    display: block;
    margin: 117px 157px;
    opacity: 0;
    transition: all 0.5s ease;
}

.projects-wrapper__image-one:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/project-1.png);
}

.projects-wrapper__image-one:hover .projects-wrapper__search {
    opacity: 1;
}

.projects-wrapper__image-two {
    background: url(../img/project-2.png);
    width: 345px;
    height: 265px;
    border-radius: 15px;
}

.projects-wrapper__image-two:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/project-2.png);
}

.projects-wrapper__image-two:hover .projects-wrapper__search {
    opacity: 1;
}

.projects-wrapper__image-three {
    background: url(../img/project-3.png);
    width: 345px;
    height: 265px;
    border-radius: 15px;
}

.projects-wrapper__image-three:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/project-3.png);
}

.projects-wrapper__image-three:hover .projects-wrapper__search {
    opacity: 1;
}

.achievements {
    margin-top: 89px;
    border-top: 1px solid #B8B8B8;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    margin-bottom: 80px;
    text-align: center;
}

.achievements__item {
}
.achievements__digit {
    font-size: 36px;
    font-weight: 700;
}
.achievements__text {
    margin-top: 17px;
}

.regulations {
    background: #F4EAFF;
    width: 801px;
    height: 292px;
    padding: 52px 88px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}

.regulations__title {}

.regulations__text {
    margin: 21px 0 27px;
}

.regulations__btn {
    margin: 0 auto;
}

/* Видео */

.video {
    text-align: center;
    padding-bottom: 103px;
}

.section-title_video {
    margin-top: 167px;
}

.video-text {
    width: 561px;
    margin: 17px auto 78px;
}

.video-iframe {
    width: 830px;
    height: 426px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
}

.video-line {
    width: 830px;
    margin: 0 auto;
    padding-top: 62px;
    border-bottom: 1px solid #E0E0E0;
}

/* Футер */
.footer {
    height: 413px;
    background: #F2F2F2;
    padding-top: 100px;
    font-size: 14px;
}

.footer-wrapper {
    display: flex;
}

.contacts {
    width: 260px;
}

.contacts a {
    display: block;
    font-size: 14px;
    color: #000;
}

.contacts__title {
    color: #000;
    margin-bottom: 31px;
}

.contacts__mail {
    padding-left: 35px;
    position: relative;
}

.contacts__mail::before {
    content:'';
    display: block;
    background: url(../img/footer-email.svg) no-repeat;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
}

.contacts__numb {
    margin: 30px 0 30px;
    padding-left: 34px;
    position: relative;
}

.contacts__numb::before {
    content:'';
    display: block;
    background: url(../img/footer-phone.svg) no-repeat;
    width: 17px;
    height: 17px;
    position: absolute;
    left: 0;
}

.contacts__address {
    padding-left: 34px;
    position: relative;
}

.contacts__address::before {
    content:'';
    display: block;
    background: url(../img/footer-bookmark.svg) no-repeat;
    width: 17px;
    height: 17px;
    position: absolute;
    left: 0;
}

.contacts__credits {
    margin-top: 44px;
}

.social-networks {
    margin-left: 85px;
    width: 242px;
}
.social-networks__title {
    margin-bottom: 82px;
}

.social-networks__wrapper {
    display: flex;
    justify-content: space-between;
}
.social-networks__p {
    color: #FF4975;
}

.mailing-list {
    margin-left: 70px;
}

.mailing-list__title {
}

.mailing-list__form {
    width: 340px;
    margin: 16px 0 23px;
    display: flex;
    align-items: center;
}

.mailing-list__input {
    background: #FFFFFF;
    width: 340px;
    height: 45px;
    padding: 15px 0 15px 33px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    border: 1px solid #F2F2F2;
    font-size: 13px;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    outline: none;
    position: absolute;
}

.mailing-list__btn {
    background: url(../img/footer-button-send.svg) no-repeat center top / cover;
    width: 65px;
    height: 65px;
    border: none;
	cursor: pointer;
    padding: 0;
    position: relative;
    left: 21.5em;
}

/*  RESPONSIVE  */

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
	.container {
		max-width: 960px;
	}
    .services-wrapper {
        flex-direction: column;
    }
    .services-item {
        margin-top: 51px;
        width: 100%;
    }
    .projects-wrapper__image {
        width: 32%;
    }
    .projects-wrapper__search {
        display: none;
    }
    .projects-wrapper__image-one:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../img/project-1.png);
    }
    .projects-wrapper__image-two:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../img/project-2.png);
    }
    .projects-wrapper__image-three:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../img/project-3.png);
    }
}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
	.container {
		max-width: 720px;
	}
    .phone-numb {
        display: none;
    }
    .section-title_services {
        line-height: 1.35em;
    }
    .projects {
        height: 1240px;
    }
    .projects-wrapper {
        flex-wrap: wrap;
    }
    .projects-wrapper__image {
        width: 47%;
    }
    .projects-wrapper__image:first-of-type {
        margin-right: 1px;
        margin-bottom: 42px;
    }
    .regulations {
        width: auto;
    }
    .video-iframe {
        width: 100%;
    }
    .video-line {
        width: 100%;
    }
    .footer {
        height: 627px;
        padding: 100px 0 100px;
    }
    .footer-wrapper {
        flex-wrap: wrap;
    }
    .mailing-list {
        margin-top: 82px;
        margin-left: 0;
    }
}

/* Small: 575px - 767px */
@media (max-width: 767px) {
	.container {
		max-width: 540px;
	}
    .nav {
        padding: 22px 0;
    }
    .container_flex {
        justify-content: space-between;
    }
    .menu {
        display: none;
    }
    .phone-numb {
        display: block;
    }
    .offer__title {
        font-size: 38px;
        width: 100%;
    }
    .section-title {
        font-size: 28px;
    }
    .projects {
        height: 1620px;
    }
    .projects-wrapper {
        flex-direction: column;
        align-content: center;
    }
    .projects-wrapper__image {
        width: 345px;
        margin-bottom: 30px;
    }
    .projects-wrapper__image:first-of-type {
        margin-right: 1px;
        margin-bottom: 30px;
    }
    .achievements__list {
        justify-content: space-between;
    }
    .achievements__item {
        width: 23%;
    }
    .regulations {
        height: 346px;
        padding: 57px 23px;
    }
    .video-text {
        width: 100%;
    }
    .video-iframe {
        height: 300px;
    }
    .footer {
        height: 802px;
    }
    .footer-wrapper {
        flex-direction: column;
    }
    .social-networks {
        margin-top: 64px;
        margin-left: 0;
    }
}

/* Extra small: 459px - 575px */
@media (max-width: 575px) {
	.container {
		padding: 0 15px;
		width: 100%;
	}
    .phone-numb {
        font-size: 13px;
    }
    .offer__title {
        font-size: 23px;
    }
    .offer__text {
        width: 100%;
        font-size: 15px;
    }
    .section-title {
        font-size: 22px;
    }
    .paragraph {
        width: 100%;
    }
    .services-item {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .services-item__info {
        margin-top: 20px;
        justify-content: flex-start;
        width: 100%;
        margin-left: 0;
    }
    .projects {
        height: 1715px;
    }
    .projects-wrapper__image {
        width: 345px;
    }
    .achievements {
        flex-wrap: wrap;
    }
    .achievements__item {
        width: 50%;
        margin-top: 40px;
    }
    .regulations {
        height: 346px;
        padding: 57px 23px 57px 23px;
    }
    .section-title_video {
        margin-top: 210px;
    }
    .video-iframe {
        height: 285px;
    }
    .mailing-list__form{
        width: auto;
    }
    .mailing-list__input {
        width: 240px;
    }
    .mailing-list__btn {
        left: 14.5em;
    }
}

/* Custom breakpoint first: 375px - 458px */
@media (max-width: 458px) {
    .projects {
        height: 1800px;
    }
    .regulations {
        height: 395px;
    }
    .section-title_video {
        margin-top: 170px;
    }
    .video-iframe {
        height: 195px;
    }
}

/* Custom breakpoint second: 0px (320px) - 374px */
@media (max-width: 374px) {
    .projects {
        height: 1800px;
    }
    .projects-wrapper__image-one {
        background: url(../img/project-1-mini.png);
    }
    .projects-wrapper__image-two {
        background: url(../img/project-2-mini.png);
    }
    .projects-wrapper__image-three {
        background: url(../img/project-3-mini.png);
    }
    .projects-wrapper__image {
        width: 300px;
    }
    .regulations {
        height: 435px;
    }
    .section-title_video {
        margin-top: 220px;
    }
    .video-iframe {
        height: 163px;
    }
}